* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

body {
  background-color: azure;
  font-size: 18px;
}

nav {
  background-color: darkcyan;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.nav-link {
  margin: 0 1rem;
  color: white;
}


main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button {
  width: 5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 17px;
}

button:hover {
  background-color: rgb(58, 62, 62);
  color: white;
}

.edit,
.update,
.add,
.back {
  background-color: rgb(34, 171, 171);
  color: white;
  border: none;
}

.delete {
  background-color: rgb(227, 73, 71);
  color: white;
  border: none;
}

input {
  width: 20rem;
  padding: 0.5rem;
  border-radius: 5px;
  border-color: gray;
  font-size: 17px;
}

/* ---------------- products ----------------------*/
h1 {
  text-align: center;
  margin: 3rem;
}

table {
  margin: 3rem;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid;
  padding: 1rem;
}

.form-field {
  margin: 1rem;
}

/* ----------------Add products ----------------------*/
.add-product {
  margin: 3rem;
}

.add-product form {
  justify-content: start;
  font-size: 1.2rem;
}

.add-product form label {
  justify-content: start;
  font-size: 1.2rem;
  font-weight: 600;
}

.add-product div {
  margin: 1rem;
}



/* Footer*/

footer {
  background-color: darkcyan;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}